<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>thanku</title>
    <style>
        body {
            background-color: black;
            color: #ffffff;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1 { font-size: 50px; text-shadow: 0 0 10px #ffffff; }
        img { max-width: 80%; border: 2px solid #ffffff; }
    </style>
</head>
<body>
    <h1>Your ip addres has been logged by 764 and Israel. We appreciate you donating your ip addy to yahu for cancer research.</h1>
    <img src="https://c.tenor.com/koRvazhwG4wAAAAd/tenor.gif">
</body>
</html>
